html{
    height: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
}
header{
    box-sizing: border-box;
    min-height: 100vh;
    text-align: center;
    padding-top: 10%;
    transform-style: inherit;
    width: 100vw;
}
header::before{
    content:'';
    display: block;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right: 0;
    z-index: -1;
    transform-origin: center;
    min-height: 100vh;
    background-image: url(BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   /*  Параллакс */
    transform: translateZ(-1px) scale(2);
}